.custom-bg-color {
    margin: 2% 0% 1% 12%  !important;
    padding: 0% 3% 1% 1%  !important;   
    background-color: transparent;
    background-image: url('../img/TaskFormBg.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 51% 4.5%;
    
}

.form-control {
    font-size: 0.8rem !important;
    /* font-size: 16px !important;  */
    width: 100%  !important;
    margin: 0% 0% 1% 4%  !important;
    font-weight: bold  !important;
    background-image: url('../img/metalBg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-label {
    font-size: 17px;
    font-weight: bold;
    color: rgb(205, 238, 247);
    width: 100px; 
    height: 25px; 
    margin: 0% 0% -5% 18%  !important;
    text-align: center; 
    background-image: url('../img/lableBg.png') ;
    background-size: cover;
    background-repeat: no-repeat;

}

.custom-column {
    block-size: 75px; 
    /* display: grid;  */
}
    

.btnBox {
    height: 60px;
    outline: none; /* Add this line to remove the outline when clicked */
    border: none; /* Add this line to remove the border line */ 
    background: transparent; 
}

