.clock-face {
    fill: white;
    stroke: black;
    stroke-width: 4;
  }
  
.hour-hand {
stroke: black;
stroke-width: 6;
line-cap: round;
}

.minute-hand {
stroke: black;
stroke-width: 4;
line-cap: round;
}

.second-hand {
stroke: red;
stroke-width: 2;
line-cap: round;
}

/* Optional: Add any additional global styles to center and scale the clock */
.App-header {
align-items: center;
justify-content: center;
height: 100vh;
display: flex;
}

.RoundClockButton { 
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none; /* Add this line to remove the border line */
    background: transparent; 
    }