
{% extends "base.html" %}

{% block content %}
<div class="container-md">
    <div class="row justify-content-around">
        <h3>統編待補清單</h2>
      </div>
      <div class="container">
        <form class="cf">
          <div class="form-group">
            <div class="dates row">
              <label class="col-auto"><pre>戶名關鍵字</pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
              <label class="col-auto">日期</label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <br>
            <div class="dates row">
              <label class="col-auto"><pre>主旨     </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <br>
            <div class="dates row">
              <label class="col-auto">工程造價</label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <br>
            <div class="dates row">
              <label class="col-auto"><pre>地址     </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
              <label class="col-auto">使用分區</label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <br>
            <div class="dates row">
              <label class="col-auto"><pre>地號     </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <div class="dates row">
              <label class="col-auto"><pre>基地面積 </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
              <label class="col-auto">總樓地板面積</label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <div class="dates row">
              <label class="col-auto"><pre>構造     </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
              <label class="col-auto"><pre>層棟戶數     </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
            <div class="dates row">
              <label class="col-auto"><pre>車位數   </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
              <label class="col-auto"><pre>車位種類    </pre></label>
              <div class="col">
                <input type="text" class="col form-control form-control-sm" name="name" autocomplete="off" required>
              </div>
            </div>
          </div>
          <button type="submit" id="btn_excel_submit" class="btn btn-warning justify-content-center">SUBMIT</button>
        
        </form>
        </div>
      </div>


    
</div>
{% endblock content %}
`