{% extends "base.html" %}
{% block content %}

<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row justify-content-around">
				<div class="booking-form">
					<div class="row justify-content-around " style="color:White">
						<h2>RECORDS</h2>
					</div>
					<br>
				
					<form action = "{% url 'time_record' %}" method = "post">
					    <div class="row justify-content-center">
							<div class="col-md-4">
								<div class="row justify-content-around " style="color:White">
									<h5>DATE</h5>
								</div>
					    		<div class="form-group">
						    		<input name="date" id='startdateId' class="form-control" type="date" oninput="calAutoToday()" required >
					    		</div>
					    	</div>
				    	</div>

						<div class="row justify-content-around " style="color:White">
							<h5>TIME</h5>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-2">
								<div class="form-group">
									<span class="form-label">Hour</span>
									<select class="form-control mb-2 mr-sm-2" id="Select_hr_0" name="Select_hr_0" >
									 <option value="01">01</option>
									 <option value="02">02</option>
									 <option value="03">03</option>
									 <option value="04">04</option>
									 <option value="05">05</option>
									 <option value="06">06</option>
									 <option value="07">07</option>
									 <option value="08">08</option>
									 <option selected value="09">09</option>
									 <option value="10">10</option>
									 <option value="11">11</option>
									 <option value="12">12</option>
									 <option value="13">13</option>
									 <option value="14">14</option>
									 <option value="15">15</option>
									 <option value="16">16</option>
									 <option value="17">17</option>
									 <option value="18">18</option>
									 <option value="19">19</option>
									 <option value="20">20</option>
									 <option value="21">21</option>
									 <option value="22">22</option>
									 <option value="23">23</option>
									 <option value="24">24</option>
									 </select>
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<span class="form-label">Minute</span>
									<select class="form-control mb-2 mr-sm-2" id="Select_min_0"  name="select_min_0">
										<option selected value="00">00</option>
										<option value="30">30</option>
									</select>
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<span class="form-label">Hour</span>
									<select class="form-control mb-2 mr-sm-2"  id="Select_hr_1" name="select_hr_1" >
									 <option value="01">01</option>
									 <option value="02">02</option>
									 <option value="03">03</option>
									 <option value="04">04</option>
									 <option value="05">05</option>
									 <option value="06">06</option>
									 <option value="07">07</option>
									 <option value="08">08</option>
									 <option selected value="09">09</option>
									 <option value="10">10</option>
									 <option value="11">11</option>
									 <option value="12">12</option>
									 <option value="13">13</option>
									 <option value="14">14</option>
									 <option value="15">15</option>
									 <option value="16">16</option>
									 <option value="17">17</option>
									 <option value="18">18</option>
									 <option value="19">19</option>
									 <option value="20">20</option>
									 <option value="21">21</option>
									 <option value="22">22</option>
									 <option value="23">23</option>
									 <option value="24">24</option>
									 </select>
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<span class="form-label">Minute</span>
									<select class="form-control mb-2 mr-sm-2" id="Select_min_1" name="select_min_1">
										<option selected value="00">00</option>
										<option value="30">30</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row justify-content-around " style="color:White">
							<h5>ACTIVITY</h5>
						</div>

						<div class="row justify-content-center">
							<div class="col-md-3">
								<div class="form>-group">
									<select id="act_type_main" name="act_type_main" class="form-control mb-2 mr-sm-2" onchange="changeOptions()">
										<option value="WORK">WORK</option>
										<option value="BREAK">BREAK</option>
										<option value="SPORT">SPORT</option>
										<option value="CHORES">CHORES</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<select id="act_type_sub" name="act_type_sub" class="form-control mb-2 mr-sm-2">
										<optgroup id="options-WORK">
											<option value="CTBC">CTBC</option>
											<option value="STUDY">STUDY</option>
											<option value="PROJECT">PROJECT</option>
										</optgroup>
										<optgroup id="options-BREAK">
											<option value="PLAN">PLAN</option>
											<option value="YT/FB">YT/FB</option>
											<option value="READING">READING</option>
											<option value="SLEEPING">SLEEPING</option>
											<option value="PORN">PORN</option>
											<option value="MOVIE">MOVIE</option>
											<option value="MUSIC">MUSIC</option>
											<option value="EVENT">EVENT</option>
											<option value="SLEEPING">SHOPPING</option>
										</optgroup>
										<optgroup id="options-SPORT">
											<option value="GYM">GYM</option>
											<option value="BIKE">BIKE</option>
											<option value="HIKING">HIKING</option>
											<option value="SWINING">SWINING</option>
										</optgroup>
										<optgroup id="options-CHORES">
											<option value="LAUNDRY">LAUNDRY</option>
											<option value="CLEANING">CLEANING</option>
											<option value="OTHERS">OTHERS</option>
										</optgroup>	
									</select>
								</div>
							</div>
						</div>

						<div class="row justify-content-center">
							<div class="col-md-4">
								<div class="form>-group">
									<span class="form-label">DETATL</span>
									<input id="act_name" name="act_name" type="text" class="form-control mb-2 mr-sm-2">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<span class="form-label">NOTE</span>
									<textarea id="act_note" name="act_note" cols="40" rows="4" class="form-control mb-2 mr-sm-2"></textarea>
								</div>
							</div>
						</div>	

						
						
						<div class="row justify-content-center">
							<div class="col-md-5">
								<div class="form-btn">
									<button type="submit" class="submit-btn" data-toggle="modal" data-target="#exampleModalCenter">SUBMIT</button>
								</div>
							</div>
						</div>

					</form>

					<form action = "{% url 'calories_record' %}" method = "post">
					<br><br>
					<div class="row justify-content-around " style="color:White">
						<h5>CALORIES</h5>
					</div>

					<div class="form-group">
						<input name="date" id='cal_date' class="form-control" type="date" hidden>
					</div>



					<div class="row justify-content-center">
						<div class="col-md-2">
							<div class="form>-group">
								<span class="form-label">MRNG</span>
								{% if  current_cal_obj %}
								<input id="cal_MRNG" name="cal_MRNG" type="text" value = {{ current_cal_obj.cal_morning }} oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
								{% else %}
								<input id="cal_MRNG" name="cal_MRNG" type="text" value =0 oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
								{% endif %}
							</div>
						</div>

						<div class="col-md-2">
							<div class="form>-group">
								<span class="form-label">NOON</span>
								{% if  current_cal_obj %}
								<input id="cal_NOON" name="cal_NOON" type="text" value = {{ current_cal_obj.cal_noon }} oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
							    {% else %}
								<input id="cal_NOON" name="cal_NOON" type="text" value = 0 oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
							    {% endif %}
							</div>
						</div>
		
						<div class="col-md-2">
							<div class="form>-group">
								<span class="form-label">NIGHT</span>
								{% if  current_cal_obj %}
								<input  id="cal_NIGHT" name="cal_NIGHT" type="text" value = {{ current_cal_obj.cal_night }} oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
							    {% else %}
								<input  id="cal_NIGHT" name="cal_NIGHT" type="text" value = 0 oninput="autoCaculate()" class="form-control mb-2 mr-sm-2">
							    {% endif %}
							</div>
						</div>
					</div>	

					<div class="row justify-content-center">
						<div class="col-md-2">
							<div class="form>-group">
								<span class="form-label">TARGET</span>
								<input id="cal_TARGET" name="cal_TARGET" type="text" value=1600  oninput="autoCaculate()" class="form-control mb-2 mr-sm-2" >
							</div>
						</div>
						<div class="col-md-2">
							<div class="form>-group">
								<span class="form-label">DEFICITE</span>
								<input id="cal_DEFICITE" name="cal_DEFICITE" type="text" class="form-control mb-2 mr-sm-2" >
							</div>
						</div>
					</div>	
					<div class="row justify-content-center">
						<div class="col-md-5">
							<div class="form-btn">
								<button type="submit" class="submit-btn" data-toggle="modal" data-target="#exampleModalCenter">SUBMIT</button>
							</div>
						</div>
					</div>
				</form>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">

		{% include 'result_page.html' %}

	  </div>
	</div>
  </div>
</div>


	
	{% endblock content %}