{% extends "base.html" %}

{% block content %}

<div class="container-md ">

  <div class="row justify-content-around">
    <h3>實價登錄名錄查詢系統</h2>
  </div>

  <div class="row justify-content-center bg-light p-5 border">
    <!-- code by w3codegenerator.com -->
    <div class="col-md-auto ">
      <form class="form-inline">
        <div class="form-group">
          <label >Date :　</label>
          <input placeholder="Select date" type="date" id="datepicker" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
       <div class="form-group">
       　<label >Time :　</label>
         <select class="form-control mb-2 mr-sm-2"  id="Select_Month_1" >
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option selected value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          </select>
          <label  class="mr-sm-2">:</label>
        </div>
        
        <div class="form-group">
          <select class="form-control mb-2 mr-sm-2" id="Select_Year_2">
            <option selected value="00">00</option>
            <option value="30">30</option>
          </select>
          <label  class="mr-sm-2"> ～ </label>
        </div>

        <div class="form-group">
          <select class="form-control mb-2 mr-sm-2" id="Select_Month_2">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option selected value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
        </select>
        <label  class="mr-sm-2">:</label>
      </div>
      
      <div class="form-group">
        <select class="form-control mb-2 mr-sm-2" id="Select_Year_2">
          <option selected value="00">00</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="col"></div>
      <div>
        <button type="submit" class="btn btn-primary" id="Select_Date_Submit">Submit</button>
      </div>
      
      
      
    </form>
    
    
    
  <form class="form-inline">
    <div class="form-group">
      <label>Type : </label> 
      <select class="form-control mb-2 mr-sm-2" id="Select_Month_2">
        <option selected value="Work">Work</option>
        <option value="Break">Break</option>
        <option value="Chores">Chores</option>
        <option value="Sport">Sport</option>
      </select>
      <label> － </label> 
      <select class="form-control mb-2 mr-sm-2" id="Select_Month_2">
        <option selected value="Work">Work</option>
        <option value="Break">Break</option>
        <option value="Chores">Chores</option>
        <option value="Sport">Sport</option>
      </select>
      <label> － Activity : </label> 
      <div>
        <input id="act_name" name="act_name" type="text" class="form-control mb-2 mr-sm-2">
      </div>
      <label> － Note : </label> 
      <div>
        <textarea id="act_note" name="act_name" cols="20" rows="2" class="form-control mb-2 mr-sm-2"></textarea>
      </div>
    </div>
  </form>

  <br>
  <br>
  <form class="form-inline">
    <div class="form-group">
      <label>早 : </label> 
      <div>
        <input id="kcal_Morning" name="act_name" type="text" class="form-control mb-2 mr-sm-2">
      </div>
        <label>中 : </label> 
      <div>
        <input id="kcal_Noon" name="act_name" type="text" class="form-control mb-2 mr-sm-2">
      </div>
        <label>晚 : </label> 
        <div>
          <input id="kcal_Night" name="act_name" type="text" class="form-control mb-2 mr-sm-2">
        </div>
        <div>
          <button type="submit" class="btn btn-primary" id="kcal_submit">Submit</button>
        </div>
    </div>
  </form>

</div>


{% endblock content %}